<!-- {{ title}} -->

<h1>Home</h1>
<a href="/form">Go to form</a>

{{#each plannerData}}
<p>
  Name: {{name}}<br>
  Topic:  {{topic}}<br>
  Date: {{date}}<br>
  Contact:  {{contact}}<br>
  Comment:  {{comment}}<br><br>

</p>
{{/each}}
